<div ng-include src="'includes/header'"></div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <a class="btn btn-primary" href="/recipes">Back to Recipes</a>
      <form>
        <br>
        <br>
        <h2>New Recipe</h2>
        <br>
        <input type="checkbox" ng-model="form.public"> Public
        <br>
        <br>
        <fieldset class="form-group">
          <label class="form-control-label">Title</label>
          <input type="text" class="form-control" name="title" placeholder="Title" ng-model="form.title" required/>
        </fieldset>
        <fieldset class="form-group">
          <label class="form-control-label">Description</label>
          <textarea class="form-control" name="description" rows="3" placeholder="Description" ng-model="form.description"></textarea>
        </fieldset>
        <br>
        <h4>Ingredients</h4>
        <br>
        <fieldset class="form-group" ng-repeat="ingredient in form.ingredients track by $index">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <input type="text" class="form-control" name="ingredientName{{$index+1}}" placeholder="Ingredient Name" ng-model="form.ingredients[$index].name" required/>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <input type="number" class="form-control" name="ingredientAmount{{$index+1}}" placeholder="Amount" ng-model="form.ingredients[$index].amount" required/>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <input type="text" class="form-control" name="ingredientMeasurement{{$index+1}}" placeholder="Measurement" ng-model="form.ingredients[$index].measurement"/>
            </div>
          </div>
          <hr>
        </fieldset>
        <button type="button" class="btn btn-primary btn-block newIngredient">New Ingredient</button>
        <br>
        <br>
        <h4>Instructions</h4>
        <br>
        <fieldset class="form-group" ng-repeat="instruction in form.instructions track by $index">
          <label class="form-control-label">Step {{$index+1}}</label>
          <input type="text" class="form-control" name="instructionStep{{$index+1}}" placeholder="Step {{$index+1}}" ng-model="form.instructions[$index]" required/>
          <hr>
        </fieldset>
        <button type="button" class="btn btn-primary btn-block newInstruction">New Instruction</button>
        <br>
        <br>
        <button class="btn btn-primary btn-block submit">Save</button>
      </form>
      <br></br>
    </div>
  </div>
</div>
