doctype html
html(ng-app="grubsup")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')

    title Grub's Up

    base(href="/")

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ng-view

    script(src="https://code.jquery.com/jquery-1.12.0.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js")
    script(src="/javascripts/app.js")
    script(src="/javascripts/controllers.js")
