.navbar{
  background: #333333;
  padding: 8px;
}

.navbar-logo-bg{
  background: #FF8F00;
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.navbar-menu-bg{
  width: 50px;
  height: 50px;
  padding: 10px;
}

.nav-extended, .nav-search{
  background: #333333;
}

.image-overlay{
  background-image: url("../images/spaghetti-bolognese-bg.png");
  background-size: 100% auto;
}

.darken-img{
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.nav-tabs-transparent{
  border-width: 0px;
  display: table;
  margin: auto;
}

.nav-tabs-transparent .nav-item{
  margin-left: 0px !important;
}

.nav-tabs-transparent .nav-item .nav-link{
  color: #FFFFFF;
  border-color: #FFFFFF;
  border-width: 0px 0px 1px 0px;
}

.nav-tabs-transparent .nav-item .nav-link.active{
  background: transparent;
  border-width: 1px 1px 0px 1px;
}

.nav-tabs-transparent .nav-item .nav-link:hover,
.nav-tabs-transparent .nav-item .nav-link:focus{
  color: #FFA91A;
}

.nav-tabs-transparent .nav-item .nav-link.active:hover,
.nav-tabs-transparent .nav-item .nav-link.active:focus{
  color: #FFFFFF;
  border-color: #FFFFFF;
  cursor: default;
}

.block{
  padding: 48px 8px 48px 8px;
  text-align: center;
}

.block-light-grey{
  background: #EEEEEE;
}

.block-white{
  background: #FFFFFF;
}

.block-grey{
  background: #333333;
  color: #FFFFFF;
}

.block-orange{
  background: #FF8F00;
  color: #FFFFFF;
}

.block div img{
  width: 100%;
}

.block a{
  color: #FFFFFF;
}

.block:hover a{
  text-decoration: underline;
}

.footer{
  padding: 40px;
  background: #EEEEEE;
  text-align: center;
}

.footer a:not(.text-muted){
  color: #373A3C;
  margin: 0px 10px 0px 10px;
}

.login-signup-mobile{
  padding: 0px;
}

.login-signup-mobile a{
  background: #000000;
  width: 50%;
  color: #FFFFFF;
  padding: 16px;
  border-width: 0px;
  text-align: center;
}

.login-signup-mobile a:first-child{
  border-right: 1px solid #FFFFFF;
}
