html, body {
	height: 100%;
	margin: 0;
}

.image-overlay{
  background-size: 100% auto;
}

.darken-img{
  background: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
}

.darken-img a{
  color: #FFFFFF;
}

.block{
  padding: 48px 8px 48px 8px;
  text-align: center;
}

.block-light-grey{
  background: #EEEEEE;
}

.block-white{
  background: #FFFFFF;
}

.block-grey{
  background: #333333;
  color: #FFFFFF;
}

.block-orange{
  background: #FF8F00;
  color: #FFFFFF;
}

.block div img{
  width: 100%;
}

.block a{
  color: #FFFFFF;
}

.block:hover a{
  text-decoration: underline;
}

.pfp{
	-webkit-box-shadow: 0px 5px 5px 0px rgba(68,68,68,0.6);
	-moz-box-shadow: 0px 5px 5px 0px rgba(68,68,68,0.6);
	box-shadow: 0px 5px 5px 0px rgba(68,68,68,0.6);
}
